
.btn-success{
	color: #fff;
	background-color: #2dc3e8;
	border-color: #2dc3e8;
}
.btn-success:hover{
	background:#fff;
	color: #fff;	border:1px solid #2dc3e8;
}
.input-group-addon {
	padding: 6px 5px;
	font-size: 14px;
	font-weight: 400;
	line-height: 1;
	color: #fff;
	
	background-color: #2dc3e8;
	border-color: #2dc3e8;
	text-align: center;
	
	border-radius: 4px;
}
.navbar{
	margin-bottom:0px;
}
.navbar-inverse {
	background: #2dc3e8;
	border-bottom:0px;
}
.navbar-header h2{
	font-weight:100;
	text-transform:uppercase;
	letter-spacing:1px;
	margin-top:0px;
	margin-bottom:0px;
	padding-top:10px;
	padding-left:10px;
	color:#fff;
}

.navbar-right {
	margin-right: 0px;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
	color: #2B2B2B;
	background-color: #f5f5f5;
	border-bottom:4px solid #2dc3e8;
}
.navbar-inverse .navbar-nav>li>a {

border-top: 1px solid #f3f3f3;
color: #737373;
}
.navbar-inverse .navbar-nav>li>a:hover {
	background-color:#f5f5f5;
		color: #2B2B2B;
}
.row{
	margin-left:0px;
	margin-right:0px;
}
.navbar{
	margin-bottom:10px;
	min-height:0;
}
.navbar-default .navbar-brand {
	color: #2dc3e8;
	font-size: 14px;
	padding:10px 15px;
	height:35px;
}
.btn-primary{
	color: #fff;
	background-color: #2dc3e8;
	border-color: #2dc3e8;
}
.btn-primary:hover{
	background-color:#7db9e8;
	border-color: #7db9e8;
}
.btn-warning {
	background-color: #7db9e8;
	border-color: #7db9e8;
}
.btn-warning:hover {
	background-color: #555;
	border-color: #555;
}
a.btn-cancel{
	background-color: #000;
	border-color: #000;
	color:#fff;
}
a.btn-cancel:hover {
	background-color: #D1352A;
	border-color: #D1352A;
	color:#fff;
}
.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus{
	color: #2B2B2B;
	background:#fff;
}
.container-fluid{
	padding-left:20px;
	padding-right:20px;
}
table{
	-webkit-border-radius: 2px;
	-webkit-background-clip: padding-box;
 	-moz-border-radius: 2px;
	-moz-background-clip: padding;
	border-radius: 2px;
	background-clip: padding-box;
	-webkit-box-shadow: 0 0 3px rgba(0,0,0,.2);
	-moz-box-shadow: 0 0 3px rgba(0,0,0,.2);
	box-shadow: 0 0 3px rgba(0,0,0,.2);
	background-color: #fbfbfb;
}
	table tr th{
		font-weight:400;
		background-color: #eee;
		background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0d…0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
		background-image: -webkit-linear-gradient(top,#f2f2f2 0,#fafafa 100%);
		background-image: -moz-linear-gradient(top,#f2f2f2 0,#fafafa 100%);
		background-image: -o-linear-gradient(top,#f2f2f2 0,#fafafa 100%);
		background-image: linear-gradient(to bottom,#f2f2f2 0,#fafafa 100%);
	}
	table tr:nth-child(even){
		background:#fff;
	}
	.table-bordered>thead>tr>th, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>tbody>tr>td, .table-bordered>tfoot>tr>td{
		border:1px solid #fff;
	}
	.table tr a{
		background:#a0d468;
		color:#fff;
		padding:4px;
		font-size:13px;
		text-align:center;
	}
	.table tr a:hover,.table tr a.pink:hover, .table tr a.yellow:hover{
		text-decoration:none;
		background:#2dc3e8;
	}
	.table tr a.pink{
		background: #fb6e52;
	}
	.table tr a.yellow{
		background:#ffce55;
	}
h3.ng-scope{
	font-weight:300;
	padding-left:15px;
	font-size:16px;

}
 input.form-control{
	background:#fff;
	border:none;
}
h2{
	font-weight:400;
	font-size:18px;
	
}
.row.ng-scope div.col-md-12{
	padding-left:0;
	padding-right:0;
}
div.btn-group.btn-group-justified{
	margin-bottom:20px;
	border-radius:0;
	-webkit-border-radius:0;
}
.btn-group button.btn.btn-default{
		color:#2dc3e8;
		border:0;
		border-right:1px solid #2dc3e8;
		background:#fff;
		font-weight:300;
	
}
.btn-group>.btn-group:last-child>.btn:last-child{
	border-right:0;
}
table thead tr th{
	font-weight:700;
}
table thead tr th, table thead tr td {
	font-size:12px;

}
table tbody tr td{
	text-align:center !important;
	font-size:11px;
	border-right:1px solid #fff;
}
.btn{
	display: inline-block;
	padding: 3px 5px;
	margin-bottom: 0;
	font-weight: 400;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	font-size:10px;
	border: 1px solid transparent;
	border-radius:0px;
}
.btn.btn-default{
	background: #fb6e52;
	color:#fff;
}
a.btn.btn-success{
	display: inline-block;
	padding: 3px 5px;
	margin-bottom: 0;
	font-weight: 400;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	font-size:10px;
	border: 1px solid transparent;
	border-radius:0px;
}
a.btn.btn-default{
	display: inline-block;
	padding: 3px 5px;
	margin-bottom: 0;
	font-weight: 400;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	font-size:10px;
	border: 1px solid transparent;
	border-radius:0px;
	background: #ffce55;

}
.col-md-2.cableicon{
	background: #a0d468;
	padding:10px;
}
.col-md-2.phoneicon{
	background: #ffce55;
	margin-left:10%;
	padding:10px;
}
.col-md-2.interneticon{
	background:#fb6e52;
	padding:10px;
		margin-left:10%;
}
.col-md-2.misicon{
	padding:10px;
		margin-left:10%;
	background-color: #2dc3e8;
}
.col-md-7.area{
	padding-left:0px;
	padding-top:20px;
	padding-right:0px;
	background-clip: padding-box;
	-webkit-box-shadow: 0 0 3px rgba(0,0,0,.2);
	-moz-box-shadow: 0 0 3px rgba(0,0,0,.2);
	box-shadow: 0 0 3px rgba(0,0,0,.2);
	background-color: #fbfbfb;
}
.well{
	background:#fff;
	border-radius:0px;
	-webkit-box-shadow: 0 0 3px rgba(0,0,0,.2);
	-moz-box-shadow: 0 0 3px rgba(0,0,0,.2);
	box-shadow: 0 0 3px rgba(0,0,0,.2);
}