.btn-success{
	color: #fff;
	background-color: #0B4096;
	border-color: #0B4096;
}
.btn-success:hover{
	background-color:#7db9e8;
	border-color: #7db9e8;
}
.input-group-addon {
	padding: 6px 5px;
	font-size: 14px;
	font-weight: 400;
	line-height: 1;
	color: #fff;
	text-align: center;
	background-color: #0B4096;
	border: 1px solid #0B4096;
	border-radius: 4px;
}
.navbar{
	margin-bottom:0px;
}
.navbar-inverse {
	background: #f2f268;
	background: -moz-linear-gradient(-45deg, #f2f268 0%, #7db9e8 96%);
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#f2f268), color-stop(96%,#7db9e8));
	background: -webkit-linear-gradient(-45deg, #f2f268 0%,#7db9e8 96%);
	background: -o-linear-gradient(-45deg, #f2f268 0%,#7db9e8 96%);
	background: -ms-linear-gradient(-45deg, #f2f268 0%,#7db9e8 96%);
	background: linear-gradient(135deg, #f2f268 0%,#7db9e8 96%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f268', endColorstr='#7db9e8',GradientType=1 );
	border-bottom:0px;
}

.navbar-right {
	margin-right: 0px;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
	color: #fff;
	background-color: #0B4096;
}
.navbar-inverse .navbar-nav>li>a {
color: #fff;
}
.navbar-inverse .navbar-nav>li>a:hover {
	background-color:#7db9e8;
}
.row{
	margin-left:0px;
	margin-right:0px;
}
.navbar{
	margin-bottom:10px;
	min-height:0;
}
.navbar-default .navbar-brand {
	color: #224999;
	font-size: 14px;
	padding:10px 15px;
	height:35px;
}
.btn-primary{
	color: #fff;
	background-color: #0B4096;
	border-color: #0B4096;
}
.btn-primary:hover{
	background-color:#7db9e8;
	border-color: #7db9e8;
}
.btn-warning {
	background-color: #7db9e8;
	border-color: #7db9e8;
}
.btn-warning:hover {
		background-color: #0B4096;
	border-color: #0B4096;
}
a.btn-cancel{
	background-color: #000;
	border-color: #000;
	color:#fff;
}
a.btn-cancel:hover {
	background-color: #D1352A;
	border-color: #D1352A;
	color:#fff;
}