<h3>Add a new service</h3>

<div class="row">
	<div class="col-md-2">
		<img src="images/cable.png" ng-click="selected = 'Cable TV'" height="128" width="128">
	</div>
		<div class="col-md-2">
		<img src="images/phone.png" ng-click="selected = 'Phone'" height="128" width="128">
	</div>
		<div class="col-md-2">
		<img src="images/internet.png" ng-click="selected = 'Internet'" height="128" width="128">
	</div>
	<div class="col-md-2">
		<img src="images/other.png" ng-click="selected = 'misc'" height="128" width="128">
	</div>
</div>
<div class="row">
	<h2> {{selected}} </h2>
</div>
