<h3>Checkout</h3>
<div class="col-md-6" ng-show="orderList == 0">
	<h4>No orders have been added to cart. Please add a service.</h4>
</div>
<div class="col-md-9" ng-show="orderList.length > 0">
	<div class="well well-lg animated fadeIn">
		<h4>Order Summary</h4>
		<ul class="list-group" ng-repeat="service in orderList">
				<li class="list-group-item animated fadeIn"> 
				<span class="badge" ng-click="removeService($index)">X</span>
					<h5 ng-show="service.deviceType != null">{{service.name}} - {{service.deviceType}}</h5>
					<h5 ng-show="service.deviceType == null">{{service.name}}</h5>
					<div class="row">
						<div class="col-md-9">
							<p>Installation Cost</p>
						</div>
						<div class="col-md-3">
							<p ng-show="service.activationCost != null">{{service.activationCost | currency}}</p>
							<p ng-show="service.activationCost == null">$0.00</p>
						</div>
					</div>
					<div class="row" ng-show="service.totalCost > 0">
						<div class="col-md-9">
							<p>Device Cost</p>
						</div>
						<div class="col-md-3">
							<p>{{service.totalCost | currency}}</p>
						</div>
					</div>
					<div class="row" ng-show="service.monthlyCharge != null">
						<div class="col-md-9">
							<p>Monthly Service Charge: {{service.monthlyCharge | currency}}/month x {{convertCycle(payment.billingCycle)}} months</p>
						</div>
						<div class="col-md-3">
							<p> {{service.monthlyCharge * convertCycle(payment.billingCycle) | currency}} </p>
						</div>
					</div>
					<div class="row">
    					<p class="col-md-9"> APPLY DISCOUNT</p>
						<div class="col-md-3">
							<select ng-model="service.discount">
				        		<option>0%</option>
				        		<option>5%</option>
				        		<option>10%</option>
				        		<option>15%</option>
				        		<option>20%</option>
				        		<option>25%</option>
    						</select>
						</div>
					</div>
					<div class="row">
						<h5 class="col-md-9"> Total</h5>
						<h5 class="col-md-3"> {{calcSubtotal(service) | currency}} </h5>
					</div>
				</li>
		</ul>
		<div class="row">
			<div class="col-md-6"></div>
			<h4 class="col-md-3">Pre-Tax Total</h4>
			<h4 class="col-md-3">{{calcPreTaxTotal() | currency}}</h4>
		</div>
		<div class="row" ng-show="payment.method != 'Cash'">
			<div class="col-md-6"></div>
			<h4 class="col-md-3">HST ({{HST}}%)</h4>
			<h4 class="col-md-3">{{calcHst() | currency}}</h4>
		</div>
		<div class="row">
			<div class="col-md-6"></div>
			<h4 class="col-md-3">Total</h4>
			<h4 class="col-md-3">{{calcTotal() | currency}}</h4>
		</div>
	</div> 
</div>
<div class="col-md-3" ng-show="orderList.length > 0">
	<div class="row">
    	<label class= "col-md-12"> Payment Method </label>
		<div class="col-md-12">
			<select ng-model="payment.method">
        		<option>Cash</option>
        		<option>Credit Card</option>
        		<option>Bank Transfer</option>
        		<option>Paypal</option>
    		</select>
		</div>
	</div>
	<div style="padding-top: 1em;"></div>
	<div class="row">
		<label class= "col-md-12"> Service Charge Billing Cycle </label>
		<div class="col-md-12">
			<select ng-model="payment.billingCycle">
        		<option>Monthly</option>
        		<option>Quarterly</option>
        		<option>Semi-Annually</option>
        		<option>Annually</option>
    		</select>
		</div>
	</div>
	<div class="row">
		<div style="padding-top: 1em;"></div>
		<label class= "col-md-12"> Note: Client's next payment will be due on {{getNextPaymentDate() | date }}</label>
	</div>
	<div style="padding-top: 1em;"></div>
	<div class="row">
		<label class= "col-md-12"> CONFIRM PAYMENT</label>
		<div class="col-md-12" ng-hide="payment.method == 'Credit Card'">
			<input ng-model="payment.validate" type="text" class="form-control" placeholder="Must match Total"/>
		</div>
		<div class="col-md-12" ng-show="payment.method == 'Credit Card'">
			<div class="row" class="col-md-12">
				<input ng-model="payment.credit.name" type="text" class="form-control" placeholder="Full Name"/>
			</div>
			<div style="padding-bottom: .5em;"></div>
			<div class="row" class="col-md-12">
				<input ng-model="payment.credit.number" type="text" maxlength="15" class="form-control" placeholder="Credit Card Number"/>
			</div>
			<div class="row">
				<lable class="col-md-8">Expiry Date</lable>
				<lable class="col-md-4">Security Code</lable>
			</div>
			<div class="row">
				<select ng-model="payment.credit.month" class="col-md-3">
	        		<option>01</option>
	        		<option>02</option>
	        		<option>03</option>
	        		<option>04</option>
	        		<option>05</option>
	        		<option>06</option>
	        		<option>07</option>
	        		<option>08</option>
	        		<option>09</option>
	        		<option>10</option>
	        		<option>11</option>
	        		<option>12</option>
	    		</select>
	    		<select ng-model="payment.credit.year" class="col-md-4">
	        		<option>2014</option>
	        		<option>2015</option>
	        		<option>2016</option>
	        		<option>2017</option>
	        		<option>2018</option>
	        		<option>2019</option>
	        		<option>2020</option>
	        		<option>2021</option>
	        		<option>2022</option>
	        		<option>2023</option>
	        		<option>2024</option>
	        		<option>2025</option>
	        		<option>2026</option>
	    		</select>
	    		<div class="col-md-5">
	    			<input ng-model="payment.credit.security" type="text" maxlength="3" class="form-control"/>
	    		</div>
		</div>
	</div>
	<div style="padding-bottom: 3em;"></div>
</div>
<div class="col-md-3">
		<a ng-show="orderList.length > 0" class="btn btn-md btn-success" ng-click="checkout()" ng-disabled="!isValid()"><i class="glyphicon glyphicon-ok"></i>&nbsp;Confirm</a>
		<a ng-show="orderList.length > 0" class="btn btn-cancel" ng-click="cancelCheckout()"><i class="glyphicon glyphicon-remove"></i>&nbsp;Cancel</a>
		<div style="padding-top: 1em;"></div>
		<a class="btn btn-success" href="#"><i class="glyphicon glyphicon-arrow-left"></i>&nbsp;Back</a>
</div>