<style type="text/css">
    .form-horizontal input.ng-invalid.ng-dirty {
        border-color: #FA787E;
    }

    .form-horizontal input.ng-valid.ng-dirty {
        border-color: #78FA89;
    }
</style>
<div class="row">
    <div class="col-md-12">
        <nav class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
                <a class="navbar-brand" href="#/client-accounts"><i class="glyphicon glyphicon-th-large"></i> Client Accounts
                </a>
                <a ng-show="client._id" class="navbar-brand" href="#/edit-client/0"><i
                        class="glyphicon glyphicon-plus"></i><i class="glyphicon glyphicon-user"></i></a>
            </div>

            <div class="pull-right">
               
                <a ng-show="client._id" class="navbar-brand pull-right"> <i
                        class="glyphicon glyphicon-exclamation-sign"></i> Create Alert</a>
                <a ng-show="client._id" class="navbar-brand pull-right"><i class="glyphicon glyphicon-edit"></i> Editing
                    {{client.firstName}} {{client.lastName}}</a>
            </div>
        </nav>

        <form role="form" name="myForm" class="form-horizontal">
            <div class="row">
                <div class="form-group" ng-class="{error: myForm.firstname.$invalid}">
                    <label class="col-md-6"> Full Name* </label>
                    <label class="col-md-3"> Phone Number* </label>

                    <div class="row"></div>
                    <div class="col-md-3">
                        <input name="firstName" ng-model="client.firstName" type="text" class="form-control"
                               placeholder="First name" required/>
                        <span ng-show="myForm.firstname.$dirty && myForm.firstname.$invalid" class="help-inline">First Name Required</span>
                    </div>
                    <div class="col-md-3">
                        <input name="lastName" ng-model="client.lastName" type="text" class="form-control"
                               placeholder="Last name" required/>
                        <span ng-show="myForm.lastName.$dirty && myForm.lastName.$invalid" class="help-inline">Last Name Required</span>
                    </div>
                    <div class="col-md-3">
                        <input name="phone" ng-model="client.phone" type="text" class="form-control" maxlength="12"
                               placeholder="905-333-3333" required/>
                        <span ng-show="myForm.phone.$dirty && myForm.phone.$invalid" class="help-inline">Phone Number Required</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-6">Address* </label>
                    <label class="col-md-3">Cell </label>

                    <div class="row"></div>
                    <div class="col-md-6">
                        <input ng-model="client.address" type="text" class="form-control" placeholder="22 Candy Street"
                               required/>
                    </div>
                    <div class="col-md-3">
                        <input ng-model="client.cell" type="text" maxlength="12" class="form-control"
                               placeholder="905-333-3333"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3">City* </label>
                    <label class="col-md-3">Postal Code* </label>
                    <label class="col-md-3"> Email </label>

                    <div class="row"></div>
                    <div class="col-md-3">
                        <input ng-model="client.city" type="text" class="form-control" placeholder="Current City"
                               required/>
                    </div>
                    <div class="col-md-3">
                        <input ng-model="client.postalCode" maxlength="7" type="text" class="form-control"
                               placeholder="L6T 4L2"/>
                    </div>
                    <div class="col-md-3">
                        <input name="email" ng-model="client.email" type="email" class="form-control"
                               placeholder="Enter email"/>
                        <span ng-show="myForm.email.$error.email" class="help-inline">Email is not valid</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3">Province* </label>
                    <label class="col-md-3">Date of Birth</label>
                    <label class="col-md-3">Gender*</label>

                    <div class="row"></div>
                    <div class="col-md-3">
                        <select ng-model="client.province" required>
                            <option>Ontario</option>
                            <option>Alberta</option>
                            <option>British Columbia</option>
                            <option>Manitoba</option>
                            <option>New Brunswick</option>
                            <option>Newfoundland and Labrador</option>
                            <option>Nova Scotia</option>
                            <option>Prince Edward Island</option>
                            <option>Quebec</option>
                            <option>Saskatchewan</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <div class="input-group">
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
                            <input type="text" class="form-control" ng-model="client.dateOfBirth" name="dob"
                                   placeholder="yyyy-mm-dd" data-date-format="yyyy-MM-dd" date-type="string"
                                   bs-datepicker>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <select ng-model="client.gender">
                            <option>Male</option>
                            <option>Female</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <h4>Additional Information</h4>
                </div>
                <div class="form-group">
                    <label class="col-md-3">Home Type </label>
                    <label class="col-md-6">Special Notes</label>

                    <div class="row"></div>
                    <div class="col-md-3">
                        <select ng-model="client.homeType">
                            <option>Townhouse</option>
                            <option>Detached</option>
                            <option>Semi-Detached</option>
                            <option>Apartment</option>
                            <option>Basement</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <textarea ng-model="client.notes" type="text" class="form-control"/></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-6">How did you find out about us?</label>

                    <div class="row"></div>
                    <div class="col-md-2">
                        <input type="radio" ng-model="client.referenceText" value="Radio"> Radio
                    </div>
                    <div class="col-md-2">
                        <input type="radio" ng-model="client.referenceText" value="Facebook"> Facebook
                    </div>
                    <div class="col-md-2">
                        <input type="radio" ng-model="client.referenceText" value="Other"> Other
                    </div>
                    <div class="row"></div>
                    <div class="col-md-2">
                        <input type="radio" ng-model="client.referenceText" value="Television"> Television
                    </div>
                    <div class="col-md-2">
                        <input type="radio" ng-model="client.referenceText" value="Twitter"> Twitter
                    </div>
                    <div class="col-md-2">
                        <input type="radio" ng-model="client.referenceText" value="Newspaper"> Newspaper
                    </div>
                    <div class="row"></div>
                    <div class="col-md-2">
                        <input type="radio" ng-model="client.referenceText" value="Website"> Website
                    </div>
                    <div class="col-md-2">
                        <input type="radio" ng-model="client.referenceText" value="Email Newsletter"> Email Newsletter
                    </div>
                    <div class="col-md-2">
                        <input type="radio" ng-model="client.referenceText" value="Friends/Family"> Friends/Family
                    </div>
                    <div class="row"></div>
                    <div class="col-md-3" ng-show="client.referenceText == 'Other'">
                        <input type="text" ng-model="client.reason" class="form-control"
                               placeholder="Please Sepcify Reason">
                    </div>
                    <div class="col-md-3" ng-show="client.referenceText == 'Friends/Family'">
                        <input type="text" ng-model="client.reason" class="form-control"
                               placeholder="Name of Friends/Family">
                    </div>
                </div>


                <div class="form-group">
                    <label class="col-md-2"></label>

                    <div class="col-md-4">

                        <button ng-click="saveClient(client);"
                                ng-disabled="isClean() || myForm.$invalid"
                                class="btn btn-primary">{{buttonText}}
                        </button>
                        <button ng-click="deleteClient(client)"
                                ng-show="client._id" class="btn btn-warning">Delete
                        </button>
                        <a href="#/client-account" class="btn btn-cancel">Cancel</a>
                    </div>

                </div>
            </div>
        </form>
    </div>

</div>
