<h3>Credit Invoice</h3>
<div class="row">
    <div class = "row"></div>

    <div class="col-md-9" ng-show="invoices == null">
        <div class="col-md-9">
            <h4>No invoices found</h4>
        </div>
    </div>
    <div class="btn-group btn-group-justified" role="group" aria-label="...">
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-default" ng-click="setFilter('now')">Due Now</button>
        </div>
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-default" ng-click="setFilter('over30')">Over 30 Days</button>
        </div>
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-default" ng-click="setFilter('over60')">Over 60 Days</button>
        </div>
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-default" ng-click="setFilter('paid')">Paid In Full</button>
        </div>
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-default" ng-click="setFilter('*')">All Invoices</button>
        </div>
    </div>
    <div class="col-md-12">
        <table ng-table="tableInvoice" class="table table-condensed table-hover" show-filter="true">
            <tr ng-repeat="invoice in $data | invoiceFilter:filterSelected track by invoice.id" class="animated fadeIn">
                <td data-title="'Invoice Number'" class="text-left" sortable="'id'">
                    {{invoice.id}}
                </td>
                <td data-title="'First Name'" class="text-left" sortable="'firstName'">
                    {{invoice.firstName}}
                </td>
                <td data-title="'Last Name'" class="text-left" sortable="'lastName'">
                    {{invoice.lastName}}
                </td>
                <td data-title="'Amount Due'" class="text-left" sortable="'amountDue'">
                    {{invoice.amountDue | currency}}
                </td>
                <td data-title="'Amount Paid'" class="text-left" sortable="'amountPaid'">
                    {{invoice.amountPaid | currency}}
                </td>
                <td data-title="'Payment Method'" class="text-left" sortable="'method'">
                    {{invoice.method}}
                </td>
                <td data-title="'Due Date'" class="text-left" sortable="'dueDate'">
                    {{invoice.dueDate}}
                </td>
                <td data-title="'Created By'" class="text-left" sortable="'createdBy'">
                    {{invoice.createdBy}}
                </td>
                <td data-title="'Show Invoice'">
                    <button type="button" ng-click="showInvoice(invoice)" class="btn btn-default">
                        <i class="glyphicon glyphicon-th-list"> Show</i>
                    </button>
                </td>
                <td data-title="'Confirm Payment'" sortable="'paidBy'">
                    <a ng-show="invoice.paidBy == null" class="btn btn-default" ng-click="showConfirm(invoice)"><i class="glyphicon glyphicon-question-sign"> Confirm</i></a>
                    <a ng-show="invoice.paidBy != null" class="btn btn-success"><i class="glyphicon glyphicon-ok-sign"> Paid</i></a>
                </td>
            </tr>
        </table>
    </div>
</div>