<div style="padding-top: 2em;"></div>

<div class="row">
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading"><h4>{{client.firstName}} {{client.lastName}}</h4></div>
            <div class="panel-body">
                <lable>{{client.address}}</lable>
                <br>
                <lable>{{client.city}}, {{client.province}}, {{client.postalCode}}</lable>
                <br>
                <lable>{{client.phone}}</lable>
                <br>
                <lable>{{client.email}}</lable>
                <br>

                <div style="padding-top: 1em;"></div>
                <b>
                    <lable>Other Information</lable>
                </b><br>
                <lable>DOB: {{client.dateOfBirth | date:'MMM/dd/yyyy'}}</lable>
                <br>
                <lable>Gender: {{client.gender}}</lable>
                <br>
                <lable>Home Type: {{client.homeType}}</lable>
                <br>
                <lable>Referal: {{client.referalType}} {{client.referalText}}</lable>
                <br>
                <lable>Special Notes:</lable>
                <br>
                <lable>{{client.notes}}</lable>
                <br>

                <div style="padding-top: 2em;"></div>
                <b>
                    <lable>Credit Card Infomation</lable>
                </b><br>

                <div ng-show="authService.Level() > 1" class="panel panel-default" ng-repeat="card in cards">
                    <div class="panel-body">
                        <b>
                            <lable>Name: {{card.name}}</lable>
                        </b><br>
                        <lable>Number: {{card.number}}</lable>
                        <br>
                        <lable>Exp: {{card.month}}/{{card.year}} &nbsp;Cvc:{{card.security}}</lable>
                    </div>
                </div>

                <div ng-show="authService.Level() <= 1" >
                    <lable>Unauthorized to view credit information.</lable>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <accordion class="animated fadeIn" close-others="false">
            <accordion-group class="panel panel-success" is-open="accordionStatus.serviceTabOpen">
                <accordion-heading class="panel-heading">
                    <div class="row">
                        <div class="col-md-6">
                            <h4 class="panel-title">Services
                            </h4>
                        </div>
                        <div class="col-md-2"></div>
                        <div class="col-md-3">
                            <a ng-click="addService(client.clientNumber)" class="btn btn-warning">&nbsp;<i
                                    class="glyphicon glyphicon-plus"></i> Add Service</a>
                        </div>
                        <div class="col-md-1">
                            <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': accordionStatus.serviceTabOpen, 'glyphicon-chevron-right': !accordionStatus.serviceTabOpen}"></i>
                        </div>
                    </div>
                </accordion-heading>
                <accordion class="panel-body" close-others="false">
                    <accordion-group ng-class="service.panelStatus" ng-repeat="service in services" is-open="$first">
                        <accordion-heading class="panel-heading">
                            <div class="row">
                                <div class="col-md-6">
                                    <h4 class="panel-title">{{service.name}} {{service.deviceType}} -
                                        {{service.status}}</h4>
                                </div>
                                <div class="col-md-2"></div>
                                <div class="col-md-3">
                                    <a ng-show="service.status != 'Canceled'" class="btn btn-danger"
                                       ng-click="showConfirmCancel(service)"><i
                                            class="glyphicon glyphicon-question-stop"> Cancel Service</i></a>
                                </div>
                                <div class="col-md-1">
                                    <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': $first, 'glyphicon-chevron-right': !$first}"></i>
                                </div>
                            </div>
                        </accordion-heading>
                        <div class="panel-body">
                            <lable>Monthly Service Charge: {{service.monthlyCharge | currency}}/month</lable>
                            <br>
                            <lable>Install Cost: {{service.activationCost | currency}}</lable>
                            <br>
                            <lable>Total Cost: {{service.totalCost | currency}}</lable>
                            <div style="padding-top: 1em;"></div>
                            <lable>Status: {{service.status}}</lable>
                            <br>
                            <lable>Device: {{service.deviceType}} {{service.deviceSubtype}}</lable>
                            <br>
                            <lable>Provider: {{service.provider}}</lable>
                            <br>
                            <lable>Type: {{service.type}}</lable>
                            <br>
                            <lable>Notes: {{service.notes}}</lable>
                            <br>
                        </div>
                    </accordion-group>
                </accordion>
            </accordion-group>
            <div style="padding-top: 1em;"></div>
            <accordion-group class="panel panel-primary" is-open="accordionStatus.invoiceTabOpen">
                <accordion-heading class="panel-heading">
                    <h4 class="panel-title">Invoices <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': accordionStatus.invoiceTabOpen, 'glyphicon-chevron-right': !accordionStatus.invoiceTabOpen}"></i></h4>
                </accordion-heading>
                <accordion class="panel-body" close-others="false">
                    <accordion-group class="panel panel-info" ng-repeat="invoice in invoices" is-open="$first">
                        <accordion-heading class="panel-heading">
                            <h4 class="panel-title">Invoice #: {{invoice.id}}
                                <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': $first, 'glyphicon-chevron-right': !$first}"></i>
                            </h4>
                        </accordion-heading>
                        <div class="panel-body">
                            <lable>Billing Cycle: {{invoice.billingCycle}}</lable>
                            <br>
                            <lable>Amount Due: {{invoice.amountDue | currency}}</lable>
                            <br>
                            <lable>Due Date: {{invoice.dueDate | date:'MMM/dd/yyyy'}}</lable>
                            <br>

                            <div ng-show="invoice.paidBy != null">
                                <lable>Amount Paid: {{invoice.amountPaid | currency}}</lable>
                                <br>
                                <lable>Confirmed Date: {{invoice.paidDate | date:'MMM/dd/yyyy'}}</lable>
                                <br>
                                <lable>Confirmed By: {{invoice.paidBy}}</lable>
                                <br>
                            </div>
                            <lable>Payment Method: {{invoice.method}}</lable>
                            <br>
                            <lable>Notes: {{invoice.notes}}</lable>
                            <br>
                            <lable>Time Created: {{invoice.createdTime}}</lable>
                        </div>
                    </accordion-group>
                </accordion>
            </accordion-group>
        </accordion>
    </div>
</div>
